<app-navbar>
</app-navbar>

<div id="container" class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <router-outlet></router-outlet>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <search-widget></search-widget>

            <!-- Categories Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header bg-dark">Remember</h5>
                <div class="card-body">
                    En este sitio encontraras todos los recursos necesarios para poder revivir cada uno de los webinars pasados!
                </div>
            </div>
            <div class="card my-4">
                <a class="twitter-timeline" data-lang="es" data-height="800" data-theme="light"
                    href="https://twitter.com/LatinoNETOnline?ref_src=twsrc%5Etfw">Tweets by Latino .NET Online</a>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Latino .NET Online 2020</p>
    </div>
    <!-- /.container -->
</footer>