<div *ngIf="!isLoading">

    <h1 class="my-4">Latino .NET Online
        <small>Blog</small>
    </h1>

    <br />
    <br />

    <miniature *ngFor="let post of getSortedPosts(); let i = index" [post]="post"></miniature>



    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#" (click)="onChangePage(1)">&larr; Newer</a>
        </li>
        <li class="page-item" *ngFor="let number of getPaginationNumbers(); let i = index">
            <a class="page-link" href="#" (click)="onChangePage(number)">{{number}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" (click)="onChangePage(page.totalPages)">Older &rarr;</a>
        </li>
    </ul>
</div>